Repository minsson/design-patterns-in-swift, pull requests merged in 2022-11, with the labels that each got.

#13 Week 3 [Bridge Pattern] 데릭
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Marin.swift
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Prototype.swift
  5. Bridge/Bridge-Derrick/Bridge Pattern.md
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern.xcodeproj/project.pbxproj
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern/AdvancedSoundButton.swift
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern/RadioSoundButton.swift
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern/SoundButton.swift
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern/SoundButtonImplementor.swift
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern/TvSoundButton.swift
  5. Bridge/Bridge-Derrick/BridgePattern/BridgePattern/main.swift
Labels: Bridge Pattern

#2 Week 1 [Builder Pattern] Baekgom
  1. Singleton/BaekGom/README.md
  1. Singleton/BaekGom/SingletonPatternExample/SingletonPatternExample.xcodeproj/project.pbxproj
  1. Singleton/BaekGom/SingletonPatternExample/SingletonPatternExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  1. Singleton/BaekGom/SingletonPatternExample/SingletonPatternExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  1. Singleton/BaekGom/SingletonPatternExample/SingletonPatternExample/main.swift
Labels: Singleton Pattern

#16 Week 3 [Adapter Pattern] Wongbing
  6. Adapter/Adapter-wongbing/Adapter-wongbing.xcodeproj/project.pbxproj
  6. Adapter/Adapter-wongbing/Adapter-wongbing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  6. Adapter/Adapter-wongbing/Adapter-wongbing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  6. Adapter/Adapter-wongbing/Adapter-wongbing/RefactoringGuruExample.swift
  6. Adapter/Adapter-wongbing/Adapter-wongbing/YoutubeEx.swift
  6. Adapter/Adapter-wongbing/Adapter-wongbing/main.swift
  6. Adapter/Adapter-wongbing/README-wongbing.md
Labels: Adapter Pattern

#14 Week 3 [Bridge Pattern] Judy
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy.xcodeproj/project.pbxproj
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy.xcodeproj/project.xcworkspace/xcuserdata/kimjuyoung.xcuserdatad/UserInterfaceState.xcuserstate
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy/Device.swift
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy/Remote.swift
  5. Bridge/Bridge-Judy/Bridge-Judy/Bridge-Judy/main.swift
  5. Bridge/Bridge-Judy/README.md
Labels: Bridge Pattern

#17 Week 3 [Bridge Method Pattern] BaekGom
  5. Bridge/Bridge-BaekGom/README.md
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom.xcodeproj/project.pbxproj
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/AppDelegate.swift
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/Assets.xcassets/AccentColor.colorset/Contents.json
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/Assets.xcassets/AppIcon.appiconset/Contents.json
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/Assets.xcassets/Contents.json
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/Base.lproj/LaunchScreen.storyboard
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/Base.lproj/Main.storyboard
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/Info.plist
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/RadioSoundButton.swift
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/SceneDelegate.swift
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/SoundButton.swift
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/SoundButtonImplementor.swift
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/TvSoundButton.swift
  5. Bridge/Bridge-BaekGom/bridge-BaekGom/bridge-BaekGom/ViewController.swift
Labels: Bridge Pattern

#20 Week 4 [Template Method Pattern] Judy
  8. Template Method/TemplateMethod-Judy/README.md
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy.xcodeproj/project.pbxproj
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy.xcodeproj/project.xcworkspace/xcuserdata/kimjuyoung.xcuserdatad/UserInterfaceState.xcuserstate
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy/Animalable.swift
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy/Rabbit.swift
  8. Template Method/TemplateMethod-Judy/TemplateMethod-Judy/main.swift
Labels: Template Method

#19 Week 4 [Abstract Factory Pattern] Kiwi
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice.xcodeproj/project.pbxproj
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/AbstractFactory.swift
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/AppDelegate.swift
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/Assets.xcassets/AccentColor.colorset/Contents.json
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/Assets.xcassets/AppIcon.appiconset/Contents.json
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/Assets.xcassets/Contents.json
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/Design.swift
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/Factory.swift
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/Info.plist
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/SceneDelegate.swift
  7. Abstract Factory/AbstractFactory-Kiwi/AbstractFactoryPractice/AbstractFactoryPractice/ViewController.swift
Labels: Abstract Factory

#21 Week 4 [Template Method Pattern] unchain
  10. Strategy/Strategy.md
  10. Strategy/unchain/Strategy.md
  10. Strategy/unchain/Strategy_parttern/Strategy_parttern.xcodeproj/project.pbxproj
  10. Strategy/unchain/Strategy_parttern/Strategy_parttern.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  10. Strategy/unchain/Strategy_parttern/Strategy_parttern.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  10. Strategy/unchain/Strategy_parttern/Strategy_parttern/main.swift
  8. Template Method/Template Method_unchain/README.md
  8. Template Method/Template Method_unchain/TemplateMethod/TemplateMethod.xcodeproj/project.pbxproj
  8. Template Method/Template Method_unchain/TemplateMethod/TemplateMethod.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  8. Template Method/Template Method_unchain/TemplateMethod/TemplateMethod.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  8. Template Method/Template Method_unchain/TemplateMethod/TemplateMethod/main.swift
Labels: Template Method Pattern

#23 Week 4 [Template Method Pattern] BaekGom
  8. Template Method/TemplateMethod-BaekGom/README.md
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom.xcodeproj/project.pbxproj
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom/Client.swift
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom/DataMining.swift
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom/ExcelFileDataMining.swift
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom/PDFFileDataMining.swift
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom/WordFileDataMining.swift
  8. Template Method/TemplateMethod-BaekGom/template-method-BaekGom/template-method-BaekGom/main.swift
Labels: Template Method Pattern

#24 Week 5 [Iterator Pattern] Judy
  9. Iterator/Iterator-Judy/Iterator-Judy.xcodeproj/project.pbxproj
  9. Iterator/Iterator-Judy/Iterator-Judy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  9. Iterator/Iterator-Judy/Iterator-Judy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  9. Iterator/Iterator-Judy/Iterator-Judy.xcodeproj/project.xcworkspace/xcuserdata/kimjuyoung.xcuserdatad/UserInterfaceState.xcuserstate
  9. Iterator/Iterator-Judy/Iterator-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  9. Iterator/Iterator-Judy/Iterator-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  9. Iterator/Iterator-Judy/Iterator-Judy/Collection.swift
  9. Iterator/Iterator-Judy/Iterator-Judy/Iterable.swift
  9. Iterator/Iterator-Judy/Iterator-Judy/Queue.swift
  9. Iterator/Iterator-Judy/Iterator-Judy/main.swift
  9. Iterator/Iterator-Judy/README.md
Labels: Iterator Pattern

#27 Week 6 [Facade Pattern] Judy
  12. Facade/Facade-Judy/Facade-Judy.xcodeproj/project.pbxproj
  12. Facade/Facade-Judy/Facade-Judy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  12. Facade/Facade-Judy/Facade-Judy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  12. Facade/Facade-Judy/Facade-Judy.xcodeproj/project.xcworkspace/xcuserdata/kimjuyoung.xcuserdatad/UserInterfaceState.xcuserstate
  12. Facade/Facade-Judy/Facade-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  12. Facade/Facade-Judy/Facade-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  12. Facade/Facade-Judy/Facade-Judy/CoreDataFramework.swift
  12. Facade/Facade-Judy/Facade-Judy/Facade.swift
  12. Facade/Facade-Judy/Facade-Judy/FirebaseLibrary.swift
  12. Facade/Facade-Judy/Facade-Judy/main.swift
  12. Facade/Facade-Judy/README.md
Labels: Facade Pattern

#28 Week 5 [Iterator Pattern] BaekGom
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom.xcodeproj/project.pbxproj
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/AppDelegate.swift
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Assets.xcassets/AccentColor.colorset/Contents.json
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Assets.xcassets/AppIcon.appiconset/Contents.json
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Assets.xcassets/Contents.json
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Base.lproj/LaunchScreen.storyboard
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Base.lproj/Main.storyboard
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Collection.swift
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/DefaultIterator.swift
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Info.plist
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/Protocol.swift
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/SceneDelegate.swift
  9. Iterator/Iterator-BaekGom/Iterator-BaekGom/Iterator-BaekGom/ViewController.swift
  9. Iterator/Iterator-BaekGom/README.md
Labels: Iterator Pattern
