Repository minsson/design-patterns-in-swift, pull requests merged in 2022-10, with the labels that each got.

#3 Week 1 [Builder Pattern] 웡빙
  .gitignore
  2. Builder/Builder-Wongbing/Builder-Wongbing.xcodeproj/project.pbxproj
  2. Builder/Builder-Wongbing/Builder-Wongbing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  2. Builder/Builder-Wongbing/Builder-Wongbing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  2. Builder/Builder-Wongbing/Builder-Wongbing/AppDelegate.swift
  2. Builder/Builder-Wongbing/Builder-Wongbing/Assets.xcassets/AccentColor.colorset/Contents.json
  2. Builder/Builder-Wongbing/Builder-Wongbing/Assets.xcassets/AppIcon.appiconset/Contents.json
  2. Builder/Builder-Wongbing/Builder-Wongbing/Assets.xcassets/Contents.json
  2. Builder/Builder-Wongbing/Builder-Wongbing/Base.lproj/LaunchScreen.storyboard
  2. Builder/Builder-Wongbing/Builder-Wongbing/Builder/AlertBuilder.swift
  2. Builder/Builder-Wongbing/Builder-Wongbing/Builder/ButtonBuilder.swift
  2. Builder/Builder-Wongbing/Builder-Wongbing/Builder/LabelBuilder.swift
  2. Builder/Builder-Wongbing/Builder-Wongbing/Builder/Protocols.swift
  2. Builder/Builder-Wongbing/Builder-Wongbing/Info.plist
  2. Builder/Builder-Wongbing/Builder-Wongbing/SceneDelegate.swift
  2. Builder/Builder-Wongbing/Builder-Wongbing/ViewController.swift
  2. Builder/Builder-Wongbing/README-wongbing.md
Labels: Builder Pattern

#6 Week 1 [Singleton Pattern] unchain
  1. Singleton/Singleton Pattern.md
  1. Singleton/SingletonParttern_unchain/SingletonParttern.xcodeproj/project.pbxproj
  1. Singleton/SingletonParttern_unchain/SingletonParttern.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  1. Singleton/SingletonParttern_unchain/SingletonParttern.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  1. Singleton/SingletonParttern_unchain/SingletonParttern/AppDelegate.swift
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Assets.xcassets/AccentColor.colorset/Contents.json
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Assets.xcassets/AppIcon.appiconset/Contents.json
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Assets.xcassets/Contents.json
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Base.lproj/LaunchScreen.storyboard
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Base.lproj/Main.storyboard
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Info.plist
  1. Singleton/SingletonParttern_unchain/SingletonParttern/SceneDelegate.swift
  1. Singleton/SingletonParttern_unchain/SingletonParttern/SecondViewController.swift
  1. Singleton/SingletonParttern_unchain/SingletonParttern/Singleton.swift
  1. Singleton/SingletonParttern_unchain/SingletonParttern/ViewController.swift
Labels: Singleton Pattern

#7 Week 1 [Builder Pattern] Judy
  2. Builder/Judy/Builder-Judy/Builder-Judy.xcodeproj/project.pbxproj
  2. Builder/Judy/Builder-Judy/Builder-Judy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  2. Builder/Judy/Builder-Judy/Builder-Judy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  2. Builder/Judy/Builder-Judy/Builder-Judy.xcodeproj/project.xcworkspace/xcuserdata/kimjuyoung.xcuserdatad/UserInterfaceState.xcuserstate
  2. Builder/Judy/Builder-Judy/Builder-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  2. Builder/Judy/Builder-Judy/Builder-Judy/APIRequest.swift
  2. Builder/Judy/Builder-Judy/Builder-Judy/Namespace.swift
  2. Builder/Judy/Builder-Judy/Builder-Judy/RequestBuilder.swift
  2. Builder/Judy/Builder-Judy/Builder-Judy/RequestDirector.swift
  2. Builder/Judy/Builder-Judy/Builder-Judy/main.swift
  2. Builder/Judy/README.md
Labels: Builder Pattern

#8 Week 2 [Prototype Pattern] Derrick
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick.xcodeproj/project.pbxproj
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/AppDelegate.swift
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Assets.xcassets/AccentColor.colorset/Contents.json
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Assets.xcassets/AppIcon.appiconset/Contents.json
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Assets.xcassets/Contents.json
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Base.lproj/LaunchScreen.storyboard
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Base.lproj/Main.storyboard
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Info.plist
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Marin.swift
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Medic.swift
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/Prototype.swift
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/SceneDelegate.swift
  4. Prototype/Prototype-Derrick/Prototype_Derrick/Prototype_Derrick/ViewController.swift
  4. Prototype/Prototype-Derrick/README.md
Labels: Prototype Pattern

#11 Week 2 [Factory Pattern] unchain
  3. Factory/Factory Pattern.md
  3. Factory/FactoryParrtern_unchain/Factory Pattern.md
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern.xcodeproj/project.pbxproj
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/AppDelegate.swift
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Assets.xcassets/AccentColor.colorset/Contents.json
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Assets.xcassets/AppIcon.appiconset/Contents.json
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Assets.xcassets/Contents.json
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Base.lproj/LaunchScreen.storyboard
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Base.lproj/Main.storyboard
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Factory.swift
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/Info.plist
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/SceneDelegate.swift
  3. Factory/FactoryParrtern_unchain/FactoryParttern/FactoryPattern/FactoryPattern/ViewController.swift
Labels: Factory Method Pattern

#4 Week 1 [Builder Pattern] Kiwi
  2. Builder/Builder-Kiwi/Builder-Kiwi.xcodeproj/project.pbxproj
  2. Builder/Builder-Kiwi/Builder-Kiwi.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  2. Builder/Builder-Kiwi/Builder-Kiwi.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  2. Builder/Builder-Kiwi/Builder-Kiwi/iPhone.swift
  2. Builder/Builder-Kiwi/Builder-Kiwi/iPhoneBuilder.swift
  2. Builder/Builder-Kiwi/Builder-Kiwi/iPhoneDirector.swift
  2. Builder/Builder-Kiwi/Builder-Kiwi/main.swift
  2. Builder/Builder-Kiwi/Builder.md
  4. Prototype/Prototype-Kiwi/Prototype-Kiwi/Animal.swift
  4. Prototype/Prototype-Kiwi/Prototype-Kiwi/Human.swift
  4. Prototype/Prototype-Kiwi/Prototype-Kiwi/Prototype.swift
Labels: Builder Pattern

#12 Week 2 [Factory Pattern] 웡빙
  3. Factory/Factory-Wongbing/Factory-Wongbing.xcodeproj/project.pbxproj
  3. Factory/Factory-Wongbing/Factory-Wongbing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  3. Factory/Factory-Wongbing/Factory-Wongbing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  3. Factory/Factory-Wongbing/Factory-Wongbing/main.swift
  3. Factory/Factory-Wongbing/README-wongbing.md
Labels: Factory Method Pattern
