Repository minsson/design-patterns-in-swift, pull requests merged in 2022-12, with the labels that each got.

#30 Week 7 [Command Pattern] Judy
  13. Command/Command-Judy/Command-Judy.xcodeproj/project.pbxproj
  13. Command/Command-Judy/Command-Judy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  13. Command/Command-Judy/Command-Judy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  13. Command/Command-Judy/Command-Judy.xcodeproj/project.xcworkspace/xcuserdata/kimjuyoung.xcuserdatad/UserInterfaceState.xcuserstate
  13. Command/Command-Judy/Command-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  13. Command/Command-Judy/Command-Judy.xcodeproj/xcuserdata/kimjuyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  13. Command/Command-Judy/Command-Judy/AppDelegate.swift
  13. Command/Command-Judy/Command-Judy/Assets.xcassets/AccentColor.colorset/Contents.json
  13. Command/Command-Judy/Command-Judy/Assets.xcassets/AppIcon.appiconset/Contents.json
  13. Command/Command-Judy/Command-Judy/Assets.xcassets/Contents.json
  13. Command/Command-Judy/Command-Judy/Base.lproj/LaunchScreen.storyboard
  13. Command/Command-Judy/Command-Judy/Base.lproj/Main.storyboard
  13. Command/Command-Judy/Command-Judy/Command.swift
  13. Command/Command-Judy/Command-Judy/ConcreteCommand.swift
  13. Command/Command-Judy/Command-Judy/Info.plist
  13. Command/Command-Judy/Command-Judy/Invoker.swift
  13. Command/Command-Judy/Command-Judy/Receiver.swift
  13. Command/Command-Judy/Command-Judy/SceneDelegate.swift
  13. Command/Command-Judy/Command-Judy/ViewController.swift
  13. Command/Command-Judy/README.md
Labels: Command Pattern

#31 Week 7 [Chain of Responsibility] Wongbing
  14. Chain of Responsibility/ChainOfResponsibility-wongbing/ChainOfResponsibility-wongbing.xcodeproj/project.pbxproj
  14. Chain of Responsibility/ChainOfResponsibility-wongbing/ChainOfResponsibility-wongbing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  14. Chain of Responsibility/ChainOfResponsibility-wongbing/ChainOfResponsibility-wongbing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  14. Chain of Responsibility/ChainOfResponsibility-wongbing/ChainOfResponsibility-wongbing/main.swift
  14. Chain of Responsibility/ChainOfResponsibility-wongbing/README.md
Labels: Chain of Responsibility Pattern

#32 Week 6 [Decorator Pattern] BaekGom
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom.xcodeproj/project.pbxproj
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom/Component/NotifierComponent.swift
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom/ConcreteComponent/Notifier.swift
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom/ConcreteDecorator/EmailDecorator.swift
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom/ConcreteDecorator/SlackDecorator.swift
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom/Decorator/NotifierDecorator.swift
  11. Decorator/Decorator-BaekGom/Decorator-BaekGom/Decorator-BaekGom/main.swift
  11. Decorator/Decorator-BaekGom/README.md
Labels: Decorator Pattern
